.about{
    display: felx;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    height: calc(100vh - 60px);
}
.about-title{
    position: relative;
}

.about_tile h1{
    position: relative;
    font-size: 22px;
}