/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-3,
.col-9 {
  padding: 0 15px;
}

/* Categorie */
.filter-card {
  background-color: #964130;
  border: 1px solid #771b5b;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

.filter-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.filter-card ul {
  list-style-type: none;
  padding-left: 0;
}

.filter-card li {
  margin-bottom: 5px;
  cursor: pointer;
}

.filter-card li:hover {
  text-decoration: underline;
}

/* Bids Grid */
/* Update styles for bids catalog */
.bids-page {
  display: flex;
}

.filter-card {
  background-color: #964130;
  border: 1px solid #771b5b;
  border-radius: 8px;
  padding: 15px;
  margin-right: 20px;
  color: white; /* Add text color */
}

.filter-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.filter-card ul {
  list-style-type: none;
  padding-left: 0;
}

.filter-card li {
  margin-bottom: 5px;
  cursor: pointer;
}

.filter-card li:hover {
  text-decoration: underline;
}

/* Update bids list styles */
.bids-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bid-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  width: calc(33.33% - 20px); /* Adjust width to fit 3 items per row */
  margin-bottom: 20px;
}

.bid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bid-item h2,
.bid-item p {
  margin: 5px 10px;
}

/* View Product Button */
.view-product-btn {

  border: none;
  color: white;
  border-radius: 30px; /* Adjust border radius for a smaller button */
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 18px; /* Decrease font size for a smaller button */
  padding: 12px 40px; /* Reduce padding for a smaller button */
  margin-bottom: 20px; /* Adjust margin as needed */
  cursor: pointer;
  transition: 0.3s;
}

.view-product-btn:hover {
  background-color: #45a049;
}
